BODY { 
	font-family:Calibri; 
}

A { 
	text-decoration: none; color: red; 
}

.wichtig { 
	font-weight: bold; 
	font-size: 1.5em; 
}

LI {
	margin-bottom: 10px;
}

TABLE {
	width: 100%;
}

TH {
	text-align: left;
}

TD {
	vertical-align: top;
}

TD.missingData {
	text-align: center;
	font-weight: bold;
	color: red;
	padding-top: 1em;
}

TD.right {
	text-align: right;
}

TD.rightBold {
	text-align: right;
	font-weight: bold;
}

TD.bold {
	font-weight: bold;
}
